{% extends 'inventario/base.html' %}
{% load static %}

{% block title %} Lista de productos {% endblock %}

{% block content %}
    
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar producto</a>

            <!-- Buscador -->
            <form method="get" class="d-flex" action="">
                <input class="form-control me-2" type="search" name="q" placeholder="Buscar por nombre..." value="{{ request.GET.q }}">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </form>
        </div>
        
        <div class="card-body">
            <h4 class="card-title">Productos</h4>
            
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <!-- <th>Descripción</th> -->
                            <th>Categoría</th>
                            <th>Nivel mínimo</th>
                            <th>Stock</th>
                            <th>Ubicación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto.id }}</td>
                            <td>{{ producto.nombre }}</td>
                            <td>
                                <img src="{{ producto.imagen.url }}" height="100">
                            </td>
                            <!-- <td>{{ producto.descripcion }}</td> -->
                            <td>{{ producto.categoria }}</td>
                            <td>{{ producto.nivel_minimo }}</td>
                            <td {% if producto.stock < producto.nivel_minimo %}class="text-danger fw-bold"{% endif %}>
                                {{ producto.stock }}
                            </td>

                            <td>{{ producto.ubicacion }}</td>
                            <td>
                                <a class="btn btn-info" href="{% url 'editar' producto.id %}">Editar</a>
                                |
                                <a class="btn btn-danger" href="{% url 'eliminar' producto.id %}">Borrar</a>
                                |
                                <button class="btn btn-secondary btn-ver" data-id="{{ producto.id }}" data-nombre="{{ producto.nombre }}"
                                    data-imagen="{{ producto.imagen.url }}" data-descripcion="{{ producto.descripcion }}"
                                    data-categoria="{{ producto.categoria }}" data-stock="{{ producto.stock }}"
                                    data-ubicacion="{{ producto.ubicacion }}" data-creacion="{{ producto.fecha_creacion }}"
                                    data-actualizacion="{{ producto.fecha_actualizacion }}">
                                    Ver
                                </button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">No se encontraron productos.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detalleModalLabel">Detalle del Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <img id="modal-imagen" src="" alt="Imagen del producto" class="img-fluid mb-2">
                    <p><strong>Nombre:</strong> <span id="modal-nombre"></span></p>
                    <p><strong>Descripción:</strong> <span id="modal-descripcion"></span></p>
                    <p><strong>Categoría:</strong> <span id="modal-categoria"></span></p>
                    <p><strong>Stock:</strong> <span id="modal-stock"></span></p>
                    <p><strong>Ubicación:</strong> <span id="modal-ubicacion"></span></p>
                    <p><strong>Producto agregado:</strong> <span id="modal-creacion"></span></p>
                    <p><strong>Última actualización:</strong> <span id="modal-actualizacion"></span></p>
                    <div class="text-end">
                        <a id="modal-historial-btn" class="btn btn-outline-dark" href="#">Ver historial de movimientos</a>
                    </div>
                </div>
            </div>
        </div></div>

        
{% endblock %}

{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}